AI Support Router.json
{
  "name": "AI Support Router",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        192,
        0
      ],
      "id": "23134dbe-8ae5-4a84-a837-b4d46adc4036",
      "name": "When chat message received",
      "webhookId": "4587c24f-5fe7-4fa0-aa6b-0b4ba60b5fcc"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=You are an intelligent customer support router. Read the user's message and classify it into one of three categories:\n1. \"Sales\" (if they want to buy, ask about pricing, or start a project)\n2. \"Support\" (if they have a bug, issue, or need technical help)\n3. \"Spam\" (if it's a random greeting, ad, or irrelevant)\nUser Message: {{ $json.chatInput }}\n\n\nRespond ONLY with a JSON object in this exact format:\n{\n  \"category\": \"Sales or Support or Spam\",\n  \"reason\": \"Brief reason why you chose this category\"\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        0
      ],
      "id": "7dfdc985-07a4-43e1-bd34-90fff05299ab",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "774da3fb-3a4f-4793-b53d-29290b11757a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "N9dL46qtTPGOIjpt",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.text).category }}",
                    "rightValue": "Sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1195a843-bc13-43c0-b18f-e852503361f0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sales Team"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d809ed08-2254-4d6f-85ec-fecab44b8044",
                    "leftValue": "={{ JSON.parse($json.text).category }}",
                    "rightValue": "Support",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Support Team"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e585fcdb-da6a-4964-8076-207ebb2fb0dc",
                    "leftValue": "={{ JSON.parse($json.text).category }}",
                    "rightValue": "Spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Trash"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "ab18317d-83ac-4eb2-8d02-4940f498e7a5",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "476eff4f-6435-40e1-978a-7f7e0cc88c8d",
              "name": "=response",
              "value": "Send to Sales Department",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -112
      ],
      "id": "0a61b955-71ad-40ff-9772-7177bfd4ca34",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81d88f4a-d78b-4fc8-af2d-7f3f62db005b",
              "name": "=response",
              "value": "Send to Technical Support",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        16
      ],
      "id": "adc98d70-9f9b-44d0-bf5d-314e7c91cde0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad82b9db-64e0-487d-94fa-cd1b653affcf",
              "name": "=response",
              "value": "Delete this message",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        144
      ],
      "id": "c2097fe7-719c-40fe-9fea-897653a70897",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "91fa958e-5460-4e8f-86f1-4fcc609cb125",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7118959e1ad18fc85a3dafbee478e12e6dd7dc52dc2b23d0535b7764f79c7994"
  },
  "id": "sFqeqkaRvsTqLMu9",
  "tags": []
}